header {
    nav {
        padding-right: 5%;
        height: 20vh;
        .navbar-brand {
            width: 10%;
            img {
                width: 100%;
            }
        }
        ul li {
            margin-right: 15%;
        }
    }
    .slider {
        margin-top: 20vh;
        height: 80vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.356)), url('/images/bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .w-10 {
            width: 10vw;
        }
    }
}


:root {
    --green: #053f00;
    --grey: #cfcfcf;
}

.bg-grey {
    background-color: var(--grey);
}
main {
    padding: 5% 10%;

    .card {
        h2 {
            color: var(--green);
            text-decoration: underline;
        }
    }

}


.supervisor {
    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}


footer {
    height: 7vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        color: white;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.titles * {
    color: white;
}
